{% extends 'generator/base.html' %}
{% block content %}
<h3>About Developers</h3>
<p>The above Project is made by three developers on putting many humongous efforts towards completing this project. 
<br><br>About the developers:</p>
<strong>S P Pradhyumna</strong><br>Github Id - pradhyumna98<br>Email Id - pradhyumna.purushottam@gmail.com<br>Role of this 
developer was to scrap numerous websites for finding optimum Dataset and some insight into code. And managing 
various developments in the project.<br><br>
<strong>Shubham Goyal</strong><br>Github Id - sgoyal12<br>Email Id - shu12.sg@gmail.com<br>The main part of 
debugging process was carried out by this smart developer, who put in mayhem efforts in connecting the Web Pages 
with GAN Model.<br><br>
<strong>Karan Singh</strong><br>Github Id - KaranSinghG<br>Email Id - karansinghg@ymail.com<br>The deployment of the 
software was taken care by this developer, who put in efforts to create stylish web pages. And then working on the 
UI of the Software.
{% endblock content %}